arc4random
bzero
closefrom
endian
explicit_bzero
fgetln
fparseln
fpurge
funopen
headers-overlay-gen.c
headers-system-gen.c
humanize
md5
nlist
overlay
proctitle
proctitle-init
progname
pwcache
setmode
strl
strmode
strnstr
strtonum
timeconv32
timeconv64
vis
vis-openbsd
