ChangeLog
*~
*.pc
*.la
*.lo
*.o
*.so*
*.a
*.log
*.trs
*.gcda
*.gcno
*.sym
*.map
.dirstamp
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
config.*
format.ld
libtool
stamp-h1
